.notfound {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  font-family: Arial, sans-serif;
}

.notfound p {
  font-size: 20px;
  color:var(--dark-color);
  font-weight: bold;
}








