.cart-icon-container {
  position: relative;
  margin-left: 20px;
  cursor: pointer;
}

.cart-count {
  background: rgb(222, 90, 90);
  color: var(--light-color);
  padding: 2px 6px;
  border-radius: 50%;
  font-size: 12px;
  position: absolute;
  top: -5px;
  right: -10px;
}
