.footer-container {
  width: 100%;
  text-align: center;
  padding: 15px; 
  font-size: 12px; 
  line-height: 18px; 
  margin: 15px auto 0; 
  max-width: 1200px;      
}
.footer-container p {
  margin: 8px auto; 
  color:rgb(82, 5, 5);
  max-width: 900px;
  text-align: center;
}
.icons {
  display: flex;
  gap: 18px;
  justify-content: center;
  margin-top: 25px;
}
.icons a {
  display: inline-block;
  transition: transform 0.25s, opacity 0.25s;
}
.icons img {
  width: 30px;
  height: 30px;
  transition: transform 0.25s, filter 0.25s;
  cursor: pointer;
}
.icons a:hover img {
  transform: scale(1.15);
}
