.form-container {
  max-width: 500px;
  margin:30px auto;
  padding: 25px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  font-family: Arial, sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-weight: bold;
  margin-bottom: 3px;
  font-size: 15px;
  color:var(--primary-color);
}

input, select {
  padding: 10px;
  border: 1px solid lightgrey;
  border-radius: 8px;
  font-size: 15px;
}

input:focus,
select:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 4px rgba(32, 11, 86, 0.7);
}

#terms {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

p {
  color: var(--dark-color);
  font-size: 14px;
  margin-top: -8px;
  margin-bottom: -5px;
}

button {
  background-color: rgb(137, 179, 207);
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
  color: var(--light-color);
}

button:hover {
  background-color:rgb(79, 88, 135);
}

button:disabled {
  background-color: rgb(104, 103, 103);
  cursor: not-allowed;
}


@media (max-width: 480px) {
  .form-container {
    padding: 18px;
  }

  button {
    font-size: 14px;
    padding: 10px;
  }

  label {
    font-size: 14px;
  }
}

