.header-container {
  width: 100%;
  padding: 20px 40px;
  background: var(--background-color);
  color: var(--light-color);
  position: relative; 
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  z-index: 1000;
  box-sizing: border-box;
  border-radius: 10px;
}
.header-left {
  display: flex;
  flex-direction: column;
}

.header-left h1 {
  margin: 0;
  font-size: 34px;
  color: var(--primary-color);
}

.header-left p {
  margin: 5px 0 0;
  font-size: 16px;
  color:var(--light-color);
}

.header-container nav {
  display: flex;
  gap: 20px;
}

.header-container nav a {
  color: var(--light-color);
  text-decoration: none;
  font-weight: 600;
  transition: color 0.25s;
  font-size: 20px;
}

.header-container nav a:hover {
  color: rgb(19, 19, 75);
}

.header-home-content {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.header-home-content h2 {
  font-size: 24px;
  margin: 0 0 10px;
  color:rgb(251, 238, 217);
}

.logo-click {
  cursor: pointer;
}
