.pack-card {
  width: 250px;
  border: 2px solid rgb(54, 54, 120);
  border-radius: 12px;
  overflow: hidden;
  background: var(--light-color);
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.pack-card:hover {
  box-shadow: 0 6px 18px rgba(0,0,0,0.2);
}

.pack-image img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.pack-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.pack-content h3 {
  margin: 0 0 10px 0;
  font-size: 18px;
  color: var(--primary-color);
  text-align: center;
}

.pack-content p {
  margin: 4px 0;
  font-size: 14px;
  color: var(--dark-color);
  font-weight: bold;
}

.add-cart {
  margin-top: 12px;
  background-color:var(--primary-color);
  color: var(--light-color);
  padding: 5px 10px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
}

.add-cart:hover {
  background-color: rgb(78, 78, 127);
  transform: scale(1.1);
}
