.search-container {
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}
.search-container form {
  width: 100%;
}
.search-container fieldset {
  border: 1px solid rgb(198, 197, 197);
  padding: 20px;
  border-radius: 10px;
}
.search-container label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: var(--primary-color);
}
.search-container select {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid lightgray;
  width: 200px;
  font-family: inherit;
  font-size: 14px;
  margin-top: 5px;
  background-color:rgb(251, 238, 217);
  color: var(--dark-color);
  cursor: pointer;
}
.search-container button {
  margin-top: 12px;
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: rgb(9, 9, 72);
  color: var(--light-color);
  font-weight: 500;
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s;
}

.search-container button:hover {
  border-color: lightskyblue;
  background-color:var(--primary-color);
}
.search-container button:focus,
.search-container button:focus-visible {
  outline: 2px solid lightblue;
}